:root.theme-dark {
  --color-base-font: #c6d0f5 !important;
  --color-base-font-rgb: 189, 193, 198 !important;
  --color-base-background: #1e1e2e !important;
  --color-base-background-mobile: #181825 !important;
  --color-url-font: #8caaee !important;
  --color-url-visited-font: #ca9ee6 !important;
  --color-header-background: #1e1e2e !important;
  --color-header-border: #585b70 !important;
  --color-footer-background: #181825 !important;
  --color-footer-border: #212327 !important;
  --color-sidebar-border: #585b70 !important;
  --color-sidebar-font: #c6d0f5 !important;
  --color-sidebar-background: #181825 !important;
  --color-backtotop-font: #c6d0f5 !important;
  --color-backtotop-border: #212327 !important;
  --color-backtotop-background: #181825 !important;
  --color-btn-background: #8caaee !important;
  --color-btn-font: #1e1e2e !important;
  --color-show-btn-background: #181825 !important;
  --color-show-btn-font: #c6d0f5 !important;
  --color-search-border: transparent !important;
  --color-search-shadow: 0 1px 3px rgba(23, 23, 23, 0.24) !important;
  --color-search-shadow-hover: 0 4px 12px rgba(23, 23, 23, 0.9) !important;
  --color-search-background: #11111b !important;
  --color-search-font: #c6d0f5 !important;
  --color-search-background-hover: #8caaee !important;
  --color-error: #f55b5b !important;
  --color-error-background: darken(#db3434, 40%) !important;
  --color-warning: #f1d561 !important;
  --color-warning-background: darken(#dbba34, 40%) !important;
  --color-success: #79f56e !important;
  --color-success-background: darken(#42db34, 40%) !important;
  --color-categories-item-selected-font: #8caaee !important;
  --color-categories-item-border-selected: #8caaee !important;
  --color-autocomplete-font: #c6d0f5 !important;
  --color-autocomplete-border: transparent !important;
  --color-autocomplete-shadow: 0 4px 12px rgba(23, 23, 23, 0.9) !important;
  --color-autocomplete-background: #11111b !important;
  --color-autocomplete-background-hover: #181825 !important;
  --color-answer-font: #c6d0f5 !important;
  --color-answer-background: #181825 !important;
  --color-result-background: #1e1e2e !important;
  --color-result-border: #585b70 !important;
  --color-result-url-font: #c6d0f5 !important;
  --color-result-vim-selected: #181825 !important;
  --color-result-vim-arrow: #8caaee !important;
  --color-result-description-highlight-font: #c6d0f5 !important;
  --color-result-link-font: #8caaee !important;
  --color-result-link-font-highlight: #8caaee !important;
  --color-result-link-visited-font: #ca9ee6 !important;
  --color-result-publishdate-font: #c6d0f5 !important;
  --color-result-engines-font: #c6d0f5 !important;
  --color-result-search-url-border: #585b70 !important;
  --color-result-search-url-font: #c6d0f5 !important;
  --color-result-detail-font: #c6d0f5 !important;
  --color-result-detail-label-font: lightgray !important;
  --color-result-detail-background: #181825 !important;
  --color-result-detail-hr: #585b70 !important;
  --color-result-detail-link: #8caaee !important;
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2) !important;
  --color-result-detail-loader-borderleft: rgba(0, 0, 0, 0) !important;
  --color-result-image-span-font: #c6d0f5 !important;
  --color-result-image-span-font-selected: #222 !important;
  --color-result-image-background: #222 !important;
  --color-settings-tr-hover: #585b70 !important;
  --color-settings-engine-description-font: #c6d0f5 !important;
  --color-settings-engine-group-background: #181825 !important;
  --color-toolkit-badge-font: #1e1e2e !important;
  --color-toolkit-badge-background: #c6d0f5 !important;
  --color-toolkit-kbd-font: #181825 !important;
  --color-toolkit-kbd-background: #c6d0f5 !important;
  --color-toolkit-dialog-border: #585b70 !important;
  --color-toolkit-dialog-background: #1e1e2e !important;
  --color-toolkit-tabs-label-border: #1e1e2e !important;
  --color-toolkit-tabs-section-border: #585b70 !important;
  --color-toolkit-select-background: #11111b !important;
  --color-toolkit-select-border: #555 !important;
  --color-toolkit-select-background-hover: #585b70 !important;
  --color-toolkit-input-text-font: #c6d0f5 !important;
  --color-toolkit-checkbox-onoff-off-background: #11111b !important;
  --color-toolkit-checkbox-onoff-on-background: #11111b !important;
  --color-toolkit-checkbox-onoff-on-mark-background: #8caaee !important;
  --color-toolkit-checkbox-onoff-on-mark-color: #1e1e2e !important;
  --color-toolkit-checkbox-onoff-off-mark-background: #c6d0f5 !important;
  --color-toolkit-checkbox-onoff-off-mark-color: #1e1e2e !important;
  --color-toolkit-checkbox-label-background: #1e1e2e !important;
  --color-toolkit-checkbox-label-border: #585b70 !important;
  --color-toolkit-checkbox-input-border: #8caaee !important;
  --color-toolkit-engine-tooltip-border: #585b70 !important;
  --color-toolkit-engine-tooltip-background: #1e1e2e !important;
  --color-toolkit-loader-border: rgba(0, 0, 0, 0.2) !important;
  --color-toolkit-loader-borderleft: rgba(255, 255, 255, 0) !important;
  --color-doc-code: #1e1e2e !important;
  --color-doc-code-background: #8caaee !important;
}
